    <!-- READING POSITION INDICATOR -->
    <progress value="0" id="booklub-progress-bar">
        <span class="booklub-progress-container">
            <span class="booklub-progress-bar"></span>
        </span>
    </progress>
    <!-- SITE WRAPPER -->
    <div id="booklub-site-wrapper">
        <!-- MAIN CONTAINER -->
        <main id="booklub-main-container">
            <div class="container">
                <!-- PAGE TITLE -->
                <div class="booklub-page-title">
                    <h1><span>BOOK NAME</span></h1>
                    <div class="booklub-page-title-meta">
                        <div class="booklub-author-meta">
                            By <a class="author-meta">Autor Name</a>
                        </div>
                        <div class="booklub-date-meta">Date Published</div>
                    </div>
                </div>
                <!-- FEATURED IMAGE -->
                <div class="booklub-featured-img">
                    <img src="assets/images/1200x600.png" alt="" />
                </div>
                <!-- POST CONTENT -->
                <div class="booklub-page-content">
                    <p>Dolore commodo ea excepteur, do irure praetermissum aut enim proident aut laboris, an lorem irure irure commodo. Iudicem culpa litteris ad enim eu mandaremus. Nostrud quis ne excepteur praetermissum, probant non probant, nulla cernantur nostrud ab expetendis irure senserit, id magna aute velit iudicem ex quem quibusdam senserit. Si nisi de aliqua, si mandaremus sed expetendis an ad labore cernantur domesticarum ne malis arbitror ad quae multos se nostrud e lorem occaecat, lorem senserit et <strong>philosophari</strong> sed ingeniis malis possumus, est irure offendit.</p>
                    <p>Tempor cillum nostrud ex sunt expetendis et ipsum quis. Ea sint tempor non tempor veniam sed deserunt relinqueret, culpa probant aut tamen ipsum ut incididunt elit cupidatat commodo, ita <strong>voluptate comprehenderit</strong> hic ubi cillum quorum veniam cupidatat, ingeniis varias ut arbitror distinguantur non summis in incurreret. Id veniam varias et vidisse. Do fugiat magna in proident. Aut possumus eruditionem in deserunt velit sed admodum comprehenderit id non cillum anim de appellat, ubi tamen singulis sempiternum, occaecat sunt appellat appellat ex varias an in quem laborum an si ita quid multos irure do excepteur culpa quamquam.</p>
                    <blockquote>
                        <p>Ne aliquip cohaerescant ad dolore offendit ex cillum quae ita ullamco duis arbitror expetendis in dolor an aliquip do summis iis ut quorum reprehenderit, ab quae nostrud efflorescere de sunt do fabulas in ea nulla id quis. Nostrud a mandaremus, qui amet iis multos. O arbitror praesentibus. Varias ubi quo nulla litteris. Anim tempor si aliqua multos. Nescius labore incurreret vidisse.</p>
                    </blockquote>
                    <p>Qui illum fugiat velit laboris. Ad esse irure multos appellat. Ad labore mandaremus. Litteris aute ullamco iis non in coniunctione a iis possumus si admodum e enim nostrud praesentibus. Non aute transferrem te et aute fidelissimae. Mandaremus veniam ab cupidatat exquisitaque, e quae laboris domesticarum, non sint mentitum fabulas de anim proident transferrem, ita aliqua imitarentur in in labore illum eram offendit, nisi fidelissimae possumus noster ullamco se eiusmod multos ex offendit transferrem. Iudicem voluptatibus qui consequat ita litteris culpa arbitror senserit.</p>
                    <p>Incurreret elit ab excepteur praetermissum. In dolor expetendis cernantur a expetendis noster amet e quorum in fugiat cupidatat quo tamen minim sed ex quo quae irure aute. Aut ipsum mentitum, malis fabulas aut esse noster est se lorem praetermissum, quem admodum litteris. Quid instituendarum tempor varias nescius, sed fugiat tamen nulla admodum aut voluptate ipsum velit possumus magna, qui multos quibusdam praesentibus. Quo culpa cernantur ne incididunt ipsum de tempor exercitation ea de eu varias multos esse ab anim an iudicem ab ex quorum quamquam, cernantur nisi sed senserit graviterque de arbitror quorum esse iis varias se aliquip sed minim. Ullamco arbitrantur qui commodo qui offendit esse cernantur expetendis. Duis ingeniis iudicem, irure est mandaremus.</p>
                </div>
            </div>
        </main>
    </div>
    <!-- GO TO TOP BUTTON -->
    <a id="booklub-gototop" href="#"><i class="fa fa-chevron-up"></i></a>
   
  