<!-- SIDEBAR -->
<div id="booklub-sidebar">
    <div id="booklub-sidebar-wrapper" class="d-flex align-items-start flex-column h-100 w-100">
        <!-- LOGO -->
        <div id="booklub-logo-cell" class="w-100">
            <a class="booklub-logo-link" href="index.html">
                <img src="assets/images/logo.png" class="booklub-logo" alt="booklub" />
            </a>
        </div>
        <!-- MENU CONTAINER -->
        <div id="booklub-sidebar-cell" class="w-100">
            <!-- MOBILE MENU BUTTON -->
            <div id="booklub-menu-toggle">MENU</div>
            <!-- MENU -->
            <nav id="booklub-main-menu" class="menu-main-menu-container">
                <ul class="booklub-menu-ul">
                    <li><a href="/" >Home</a>
                    </li>
                    <li><a href="#">My Orders</a>
                    </li>
                    <li><a href="#">My Books</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- SOCIAL MEDIA ICONS -->
        <div id="booklub-social-cell" class="mt-auto w-100">
            <div id="booklub-social-inner">
                <ul class="booklub-social-icons">
                    <li><a href="https://github.com/Dohii" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/hidoo/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>