<!-- SLIDE PANEL OVERLAY -->
<div id="booklub-overlay"></div>
<!-- SLIDE PANEL -->
<div id="booklub-panels">
    <aside id="booklub-panel" class="booklub-panel">
        <div class="booklub-panel-inner">
            <!-- CLOSE SLIDE PANEL BUTTON -->
            <a href="#" class="booklub-panel-close"><i class="fa fa-times"></i></a>
            <!-- AUTHOR BOX -->
            <div class="booklub-author-box booklub-widget">
                <div class="booklub-author-img">
                    <img src="assets/images/300x300.png" alt="USER NAME" />
                </div>
                <h3><span>JOHN DOE</span></h3>
                <p class="booklub-author-subtitle">USER ROLE</p>
                
            </div>
            
        </div>
    </aside>
</div>