    <!-- READING POSITION INDICATOR -->
    <progress value="0" id="booklub-progress-bar">
        <span class="booklub-progress-container">
            <span class="booklub-progress-bar"></span>
        </span>
    </progress>
    <!-- SITE WRAPPER -->
    <div id="booklub-site-wrapper">
        <!-- MAIN CONTAINER -->
        <main id="booklub-main-container">
            <div class="container">
                
                <!-- TOP ICONS -->
                <ul class="booklub-top-icons">
                    <li id="booklub-panel-icon">
                        <a href="#booklub-panel" class="booklub-panel-open"><i class="fa fa-bars"></i></a>
                    </li>
                    <li id="booklub-search-icon">
                        <a id="booklub-open-search" href="#"><i class="fa fa-search"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
              
                <!-- BLOG POSTS -->
                <div class="booklub-masonry-grid">
                    <div class="booklub-two-columns"data-columns>
                        <!-- POST 1 -->
                        <div class="card-masonry">
                            <div class="card">
                                <a href="single-post.html">
                                        <img class="card-vertical-img" src="assets/images/900x600.png" alt="Hair You&#8217;ve Always Dreamed Of" />   
                                    </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="category.html">Lifestyle</a></span>
                                        </div>
                                        <h6 class="card-title"><a href="single-post.html">Hair You&#8217;ve Always Dreamed Of</a></h6>
                                    </div>
                                    <div class="card-footer">
                                        <div class="booklub-author-meta">
                                            By <a class="author-meta" href="author.html">Egemenerd</a>
                                        </div>
                                        <div class="booklub-date-meta">
                                            <a href="single-post.html">May 27, 2018</a>
                                        </div>
                                        <div class="booklub-reading-meta">3 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- POST 2 -->
                        <div class="card-masonry">
                            <div class="card">
                                <a href="single-post.html">
                                    <img class="card-vertical-img" src="assets/images/900x600.png" alt="15 Of The World&#8217;s Best Carnivals" />   
                                </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="category.html">Lifestyle</a>, <a href="category.html">Travel</a></span>
                                        </div>
                                        <h6 class="card-title"><a href="single-post.html">15 Of The World&#8217;s Best Carnivals</a></h6>
                                    </div>
                                    <div class="card-footer">
                                        <div class="booklub-author-meta">
                                            By <a class="author-meta" href="author.html">Egemenerd</a>
                                        </div>
                                        <div class="booklub-date-meta">
                                            <a href="single-post.html">May 25, 2018</a>
                                        </div>
                                        <div class="booklub-reading-meta">2 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- POST 3 -->
                        <div class="card-masonry">
                            <div class="card">
                                <a href="single-post.html">
                                    <img class="card-vertical-img" src="assets/images/900x600.png" alt="5 Ways to a Healthy Lifestyle" />   
                                </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="category.html">Lifestyle</a></span>
                                        </div>
                                        <h6 class="card-title"><a href="single-post.html">5 Ways to a Healthy Lifestyle</a></h6>
                                    </div>
                                    <div class="card-footer">
                                        <div class="booklub-author-meta">
                                            By <a class="author-meta" href="author.html">Egemenerd</a>
                                        </div>
                                        <div class="booklub-date-meta">
                                            <a href="single-post.html">May 25, 2018</a>
                                        </div>
                                        <div class="booklub-reading-meta">3 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- POST 4 -->
                        <div class="card-masonry">
                            <div class="card">
                                <a href="single-post.html">
                                    <img class="card-vertical-img" src="assets/images/900x600.png" alt="Best Breakfast In The World" />   
                                </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="category.html">Food &amp; Drink</a>, <a href="category.html">Travel</a></span>
                                        </div>
                                        <h6 class="card-title"><a href="single-post.html">Best Breakfast In The World</a></h6>
                                    </div>
                                    <div class="card-footer">
                                        <div class="booklub-author-meta">
                                            By <a class="author-meta" href="author.html">Egemenerd</a>
                                        </div>
                                        <div class="booklub-date-meta">
                                            <a href="single-post.html">May 23, 2018</a>
                                        </div>
                                        <div class="booklub-reading-meta">3 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- POST 5 -->
                        <div class="card-masonry">
                            <div class="card">
                                <a href="single-post.html">
                                    <img class="card-vertical-img" src="assets/images/900x600.png" alt="Best and Worst Summer Foods" />   
                                </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="category.html">Food &amp; Drink</a></span>
                                        </div>
                                        <h6 class="card-title"><a href="single-post.html">Best and Worst Summer Foods</a></h6>
                                    </div>
                                    <div class="card-footer">
                                        <div class="booklub-author-meta">
                                            By <a class="author-meta" href="author.html">Egemenerd</a>
                                        </div>
                                        <div class="booklub-date-meta">
                                            <a href="single-post.html">May 22, 2018</a>
                                        </div>
                                        <div class="booklub-reading-meta">3 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- POST 6 -->
                        <div class="card-masonry">
                            <div class="card">
                                <a href="single-post.html">
                                    <img class="card-vertical-img" src="assets/images/900x600.png" alt="What Is Perfect Training?" />   
                                </a>
                                <div class="card-border">
                                    <div class="card-body">
                                        <div class="card-category">
                                            <span><a href="category.html">Lifestyle</a></span>
                                        </div>
                                        <h6 class="card-title"><a href="single-post.html">What Is Perfect Training?</a></h6>
                                    </div>
                                    <div class="card-footer">
                                        <div class="booklub-author-meta">
                                            By <a class="author-meta" href="author.html">Egemenerd</a>
                                        </div>
                                        <div class="booklub-date-meta">
                                            <a href="single-post.html">May 21, 2018</a>
                                        </div>
                                        <div class="booklub-reading-meta">2 min read</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- VIEW ALL BUTTON -->
                <div class="booklub-view-more">
                    <a class="btn btn-default" href="blog.html">VIEW ALL BOOKS</a>
                </div>

                <!-- DIVIDER -->
                <hr class="section-divider" />



            </div>
        </main>
        <!-- FOOTER -->
        <footer id="booklub-footer">
            <div class="container">
                <div class="row booklub-footer-wrapper">
                    <!-- FOOTER WIDGET 1 -->
                    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                        <h5 class="booklub-title-with-border"><span>About Me</span></h5>
                        <p>Trusted by thousands of customers, my unique themes and plugins help you make beautiful responsive web sites with ease.</p>
                        <p><a href="about.html" class="btn btn-default">Read More</a></p>
                    </div>
                    <!-- FOOTER WIDGET 2 -->
                    <div class="col-12 col-lg-6">
                        <h5 class="booklub-title-with-border"><span>Newsletter</span></h5>
                        <form method="post" action="index.html">
                            <label>Subscribe to our mailing list!</label>
                            <div class="input-group">
                                <input type="email" class="form-control" name="EMAIL" placeholder="Your email address" required />
                                <div class="input-group-append">
                                    <input type="submit" value="Sign up" class="btn btn-default" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- CREDITS -->
                <div class="booklub-footer-credits">
                    <p>
                        Made with love by <a href="https://www.linkedin.com/in/hidoo" target="_blank">Hidajet</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
    <!-- GO TO TOP BUTTON -->
    <a id="booklub-gototop" href="#"><i class="fa fa-chevron-up"></i></a>
    
    <!-- FULLSCREEN SEARCH -->
    <div id="booklub-fullscreen-search">
        <div id="booklub-fullscreen-search-content">
            <a href="#" id="booklub-close-search"><i class="fa fa-times"></i></a>
            <form role="search" method="get" action="search.html" class="booklub-lg-form">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Enter a keyword..." name="s" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>