<div class="card-masonry">
  <div class="card">
      <a href="#">
              <img class="card-vertical-img" src="assets/images/900x600.png" alt="Hair You&#8217;ve Always Dreamed Of" />   
          </a>
      <div class="card-border">
          <div class="card-body">
              <div class="card-category">
                  <span><a href="category.html">Lifestyle</a></span>
              </div>
              <h6 class="card-title"><a href="single-post.html">Hair You&#8217;ve Always Dreamed Of</a></h6>
          </div>
          <div class="card-footer">
              <div class="booklub-author-meta">
                  By <a class="author-meta" href="author.html">Egemenerd</a>
              </div>
              <div class="booklub-date-meta">
                  <a href="single-post.html">May 27, 2020</a>
              </div>
              <div class="add-to-cart" (click)="addToCart(1,'knjiga',20)"><i class="fa fa-cart-plus"></i></div>
          </div>
      </div>
  </div>
</div>
